html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f6f6f6;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 1px solid #BDBDBD;
}

.outer-content {
  margin-left: 300px;
}

.inner-content {
  padding: 10px 40px;
}

p {
  display: inline;
}

.attribute-name,
.cssPropertie-name,
.propertie-name,
.method-name,
.event-name,
.slot-name {
  padding: 10px 20px 10px 20px;
  margin: 10px 0 20px 0;
  background-color: #ececec;
}

.attribute-definition,
.cssPropertie-definition,
.propertie-definition,
.method-definition,
.event-definition,
.slot-definition {
  margin: 0 0 20px 0;
}

.category-container {
  padding-bottom: 20px;
}

.attribute-container,
.cssPropertie-container,
.propertie-container,
.method-container,
.event-container,
.slot-container {
  padding-bottom: 20px;
}

.value-table {
  margin: 0 0 30px 0;
  width: 50%;
}

table,
td,
th {
  border: 1px solid #ececec;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

td:hover {
  background-color: #ececec;
}

ul.links {
  margin-top: 5px;
}

hr.solid {
  border-top: 3px solid #f6f6f6;
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px 10px 40px;
  width: 100%;
  position: sticky;
  top: 0;
}

.categories {
  padding: 20px;
}

.category {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subcategory {
  padding-left: 10px;
}

.subcategory-header {
  font-weight: normal;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.active {
  text-decoration: underline;
}

.de-active {
  font-weight: normal;
  text-decoration: none;
  display: none;
}

.element {
  font-weight: normal;
  padding-left: 10px;
}

.sidebar-mv {
  color: #000;
}

.home {
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
}

.sidebar-hr {
  border: 1px solid #BDBDBD;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.subCategory {
  padding-left: 10px;
}

.flipper {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1vw;
  overflow: auto;
  white-space: nowrap;
}

.inner-flipper {
  display: inline-block;
}

.inner-home {
  display: flex;
  align-items: center;
}

.darken {
  color: #000;
}

.darken:hover {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.05);
}

.inactive-doc-example {
  display: none;
}

.bolden {
  font-weight: bold;
}
