@import 'shared/fonts.css';
@import 'shared/vars.css';
@import 'shared/elements.css';
@import 'shared/icons.css';

h1.model-viewer {
  display: inline-block;
  background-image: url(../assets/images/model-viewer-logo.svg);
  background-position: 0 50%;
  background-size: var(--icon-size);
  background-repeat: no-repeat;
  padding: 0 0 0 36px;
  margin: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

#footer {
  grid-area: footer;
  border-top: 1px solid #eee;
  padding: var(--padding);
  background-color: #f5f5f5;
  font-size: 0.85rem;
  text-align: center;

  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

#footer > :first-child {
  text-align: left;
}

#footer > :last-child {
  text-align: right;
}

#footer > ul {
  margin: 0;
  padding: 0;
}

#footer > ul > li {
  display: block;
}

.highlight-code code {
  background-color: var(--color-light-yellow);
  color: rgba(53, 28, 28, 0.85);
  font-weight: 100;
  border-radius: 3px;
  padding: 0 0.1em;
}

@media (max-width: 1024px) {
  body {
    --padding: 2rem;
  }
}

@media (max-width: 480px) {
  body {
    --padding: 1.5rem;
  }

  #footer {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  #footer > :not(:last-child) {
    margin-bottom: 1em;
  }

  #footer > :first-child,
  #footer > :last-child {
    text-align: center;
  }
}