**/node_modules
scripts/**/*.js
packages/*/dist
packages/**/*.d.ts
packages/*/src/*-css.ts

packages/model-viewer/**/*
packages/model-viewer-effects/**/*
packages/modelviewer.dev/**/*
packages/render-fidelity-tools/**/*
packages/shared-assets/**/*
packages/space-opera/**/*
