body {
  background-color: #1c1d1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

model-viewer {
  position: relative;
  height: 500px;
  width: 500px;
  background-color: #1c1d1e;
  z-index: 1;
}

#ui-buttons {
  position: relative;
  width: 500px;
  height: 46px;
  margin: 25px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #97d3b8;
  color: #003619;
  font-size: 14px;
  padding: 15px 32px;
  border: none;
  border-radius: 9999px;
  transition: 0.2s all;
  position: absolute;
}

button:active {
  background-color: #97d3b87c;
}

#dots {
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255, 0.4);
  transition: 0.1s all;
}

.active-dot {
  background-color: rgb(255, 255, 255, 1);
}

.inactive-dot {
  background-color: rgb(255, 255, 255, 0.4);
}

#skip {
  left: 10px;
  visibility: hidden;;
}

#back {
  left: 10px;
}

#next {
  right: 10px;
}

#skip {
  background-color: #1c1d1e;
  color: #97d3b8;
}

#skip:active {
  color: #97d3b83d;
}

#card {
  color: white;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

#card-image {
  display: none;
  width: 75px;
  height: 75px;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 1rem 0; 
}

p {
  font-weight: 300;
  font-size: 1rem;
}

#complicationImage {
  display: none;
}

#debug-text {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#vignette {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: radial-gradient(circle closest-corner, transparent 50%, #1c1d1e 70%);
}



#intro-fade {
  pointer-events: none;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: fade;
  text-align: center;
}

#spin-icon-container {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: none;
}

#spin-icon-container.fade {
  animation: fadeout ease 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#lottie-animation {
  width: 36%;
  height: 36%;
  position: absolute;
  top: 32%;
  left: 31%;
  display: block;
  text-align: center;
}

#lottie-animation-additive {
  width: 18%;
  height: 18%;
  position: absolute;
  top: 80%;
  left: 40%;
  display: block;
  text-align: center;
}

#intro-fade.active {
  animation-name: intro-fade-anim;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#intro-fade.disabled {
  display: none;
}

@keyframes intro-fade-anim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes slide-in-animation {
  from {
    opacity: 0;
    right: -500px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.run-slide-in-animation {
  position: relative;
  animation: slide-in-animation 1s ease;
}